<Router AppAssembly="@typeof(Program).Assembly">
<Found Context="routeData">
    <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
        <NotAuthorized>
            <h3 class="mat-h3">出错了！</h3>
            <p>你没有访问这个页面的权限。</p>
            <p>请尝试登录或使用其他账号</p>
        </NotAuthorized>
        <Authorizing>
            <h3 class="mat-h3">正在认证</h3>
            <p>系统正在对您的身份进行认证，确保您拥有访问该页面的权限。</p>
        </Authorizing>
    </AuthorizeRouteView>
</Found>
<NotFound>
    <CascadingAuthenticationState>
        <LayoutView Layout="@typeof(MainLayout)">
            <h3 class="mat-h3">出错了！</h3>
            <p>没有这个页面。</p>
        </LayoutView>
    </CascadingAuthenticationState>
</NotFound>
</Router>