@page "/BasicInfo/Manage/Course/Edit/{id}"
@attribute [Authorize(Roles = "Manager")]


@using TeachingSystem.Areas.BasicInfo.Shared
<div class="mat-layout-grid">
    <div class="mat-layout-grid-inner">
        <div class="mat-layout-grid-cell"></div>
        <div class="mat-layout-grid-cell">
            <h1>编辑课程</h1>
            <CourseInfo id="@Id" admin="true" OnSave="OnSave"></CourseInfo>
        </div>
        <div class="mat-layout-grid-cell"></div>
        
    </div>
</div>
 

@code {
    [Parameter]
    public string Id{get;set;}
    void OnSave() {
        NavigationManager.NavigateTo("/BasicInfo/Manage/Course");
    }
}