@page "/ClassArranger/Manage/ClassRoom/Create"

@using TeachingSystem.Areas.ClassArranger.Shared
<div class="mat-layout-grid">
    <div class="mat-layout-grid-inner">
        <div class="mat-layout-grid-cell"></div>
        <div class="mat-layout-grid-cell">
            <h1>创建教室</h1>
            <ClassroomInfo create="true" OnSave="OnSave"></ClassroomInfo>
        </div>
        <div class="mat-layout-grid-cell"></div>
        
    </div>
</div>
 

@code {
    void OnSave() {
        NavigationManager.NavigateTo("/ClassArranger/Manage/ClassRoom");
    }
}