@page "/online-judger/test-papers/edit/{id}"

@using TeachingSystem.Areas.OnlineJudger.Shared

<div class="mat-layout-grid">
    <div class="mat-layout-grid-inner">
        <div class="mat-layout-grid-cell"></div>
        <div class="mat-layout-grid-cell">
            <h1>Edit Test Paper</h1>
            <TestPaperInfo id="@Id" admin="true" OnSave="OnSave"></TestPaperInfo>
        </div>
        <div class="mat-layout-grid-cell"></div>
    </div>
</div>
 
@code {
    [Parameter]
    public string Id {get;set;}
    void OnSave() 
    {
        NavigationManager.NavigateTo("/online-judger/test-papers");
    }
}