@page "/online-judger/test-bank/create"

@using TeachingSystem.Areas.OnlineJudger.Shared

<div class="mat-layout-grid">
    <div class="mat-layout-grid-inner">
        <div class="mat-layout-grid-cell"></div>
        <div class="mat-layout-grid-cell">
            <h1>Create Question</h1>
            <QuestionInfo create="true" admin="true" OnSave="OnSave"></QuestionInfo>
        </div>
        <div class="mat-layout-grid-cell"></div>
    </div>
</div>

@code {
    void OnSave() {
        NavigationManager.NavigateTo("/online-judger/test-bank");
    }
}