<AuthorizeView>
    <Authorized>
        <a href="BasicInfo/Account/Manage" style="color: white;">欢迎， @context.User.Identity.Name!</a>
        <a href="account/signout" style="color: white;">退出</a>
    </Authorized>
    <NotAuthorized>
        <a href="BasicInfo/Account/Login" style="color:white;">登录</a>
    </NotAuthorized>
</AuthorizeView>