@page "/ClassArranger/Manage/Class/Edit/{id}"


@using TeachingSystem.Areas.ClassArranger.Shared
<div class="mat-layout-grid">
    <div class="mat-layout-grid-inner">
        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12">
            <h2>调整教学班信息</h2>
            <ClassInfo id="@Id" OnSave="OnSave"></ClassInfo>
        </div>
    </div>
</div>
 

@code {
    [Parameter]
    public string Id{get;set;}
    void OnSave() {
        NavigationManager.NavigateTo("/ClassArranger/Manage/Class");
    }
}